@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #28156c;
    align-items: center;
    overflow: hidden;

    @media screen and (max-width:600px) {
        margin:  0 auto;
    }
    @media screen and (max-width:400px) {
        margin:  0 auto;
    }

    .container{
        width: 900px;
        height: 500px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        /* background-color: rgba(50, 99, 222, 0.6); */
        background-color: rgba(50, 99, 222, 0.11);
        /* backdrop-filter: blur(-40px); */
        position: relative;
        font-family: "Playwrite GB S", serif;

        @media screen and (max-width:1050px) {
            width: 80%;
        }
        @media screen and (max-width:600px) {
            width: 90%;
            margin:  0 auto;
        }
        @media screen and (max-width:400px) {
            /* width: 100%; */
            /* margin:  0 auto; */
        }

        header{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            h1{
                font-size: 3rem;
                color: orangered;
                font-weight: 900;
                text-transform: uppercase;

                @media screen and (max-width:700px) {
                    font-size: 2rem;
                }
                @media screen and (max-width:500px) {
                    font-size: 1.5rem;
                }
            }
            #addbtns{
                padding: 5px 15px;
                font-size: 1.1rem;
                font-family: "Playwrite GB S", serif;
                border: none;
                border-radius: 10px;
                outline: none;

                @media screen and (max-width:500px) {
                    padding: 5px 10px;
                    font-size: 1rem;
                }
                @media screen and (max-width:400px) {
                    padding: 5px 5px;
                    font-size: 13px;
                }
            }
            #addbtns:hover{
                transform: scale(1.1);
                cursor: pointer;
                transition-duration:1.5s ;
                background-color: #b6b2b2;
            }
        }

        main{
            width: 100%;
            display: flex;
            justify-content: center;

            .table{
                width: 95%;
                text-align: center;

                thead{
                    width: 100%;
                }
                .thead tr{
                    font-size: 1.7rem;
                    color: #fff;

                    @media screen and (max-width:700px) {
                        font-size: 1.5rem;
                    }
                    @media screen and (max-width:500px) {
                        font-size: 15px;
                    }
                    @media screen and (max-width:340px) {
                        font-size: 12px;
                    }
                }
                .tableBody{

                    .row{
                        color: #fff;
                        font-size: 1.2rem;
                        border: 2px solid white;

                        @media screen and (max-width:700px) {
                            font-size: 1rem;
                        }
                        @media screen and (max-width:500px) {
                            font-size: 10px;
                        }
                    }

                    .update{
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        text-align: center;
                        cursor: pointer;
                    }
                    .update :first-child{
                        color: green;
                        font-weight: 900;
                    }
                    .update :last-child{
                        color: red;
                        /* font-size: 2rem; */
                        font-weight: 900;
                    }
                }
            }
        }
    }
    .container::before{
        content: "";
        width: 180px;
        height: 180px;
        position: absolute;
        right: -70px;
        bottom: -70px;
        box-shadow: -73px -54px 44px -8px rgba(230,216,23,1);
        background-color: yellow;

        z-index: -1;

        @media screen and (max-width:400px) {
            width: 80px;
        height: 80px;
        right: -0;
        bottom: -0;
        }
    }
    .container::after{
        content: "";
        width: 180px;
        height: 180px;
        position: absolute;
        left: -70px;
        top: -70px;
        box-shadow: 61px 71px 44px -8px rgba(230,23,23,1);
        background-color: red;

        z-index: -1;

        @media screen and (max-width:400px) {
            width: 80px;
        height: 80px;
        left: -00px;
        top: -00px;
        
        }
    }
}
.apply{
    width: 400px;
    height: 430px;
    padding: 10px 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    gap: 1rem;
    transition-duration: 1s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    display: none;

    background-color: #9EA3AA;
    font-family: "Playwrite GB S", serif;
    /* opacity: 10%; */
    animation: start 0.5s linear  1 forwards ;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */

    @media screen and (max-width:400px) {
        width: 90%;
    }
    h1{
        text-align: center;

        @media screen and (max-width:400px) {
            font-size: 1.2rem;
        }
    }
    form{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        input,select{
            outline: none;
            font-size: 1.1rem;
            padding: 8px;
            border-radius: 5px;
            border: none;
            font-family: "Playwrite GB S", serif;

            @media screen and (max-width:400px) {
                font-size: 15px;
            }
        }
        .button{
            display: flex;
            justify-content: center;
            gap: 1rem;
            align-items: center;

            .same{
                padding: 5px 20px;
                border: none;
                font-size: 1.2rem;
                border-radius: 10px;
                outline: none;
                font-family: "Playwrite GB S", serif;

                @media screen and (max-width:400px) {
                    padding: 5px 10px;
                    font-size: 15px;
                }

            }
            .same:hover{
                cursor: pointer;
                background-color: #b9b4b4;
                transform: scale(1.1);
                transition-duration: 1s;
            }
        }
    }
}
@keyframes start {
    0%{
        top: -0%;
        right: 0%;
    }
    100%{
        top: 50%;
        left: 50%;
    }
}
